<div class="columns-2 mt-4">
    <div class="fade-in flex flex-col px-4 items-center">
        <p class="text-3xl">Move Ins</p>
        <p class="mb-2 text-5xl"><%= @report_month_move_ins %></p>
        <p class="flex mb-6 items-center <%= @move_ins_percent >= 0 ? 'text-green-500' : 'text-red-500' %>">
            <%= icon(@move_ins_percent >= 0 ? 'chevron-double-up' : 'chevron-down', "h-5 w-5 stroke-2 mr-1") %>
            <%= @move_ins_percent %>%
        </p>
        <canvas
            class="line-chart"
            data-labels='<%= @move_ins_and_outs_labels.to_json.html_safe %>'
            data-report-month-values='<%= @report_month_move_in_values.to_json.html_safe %>'
            data-prior-month-values='<%= @prior_month_move_in_values.to_json.html_safe %>'
            width="600"
            height="300"
        ></canvas>
    </div>
    <div class="fade-in flex flex-col px-4 items-center">
        <p class="text-3xl">Move Outs</p>
        <p class="mb-2 text-5xl"><%= @report_month_move_outs %></p>
        <p class="flex mb-6 items-center <%= @move_outs_percent >= 0 ? 'text-green-500' : 'text-red-500' %>">
            <%= icon(@move_outs_percent >= 0 ? 'chevron-double-up' : 'chevron-down', "h-5 w-5 stroke-2 mr-1") %>
            <%= @move_outs_percent %>%
        </p>
        <canvas
            class="line-chart"
            data-labels='<%= @move_ins_and_outs_labels.to_json.html_safe %>'
            data-report-month-values='<%= @report_month_move_out_values.to_json.html_safe %>'
            data-prior-month-values='<%= @prior_month_move_out_values.to_json.html_safe %>'
            width="600"
            height="300"
        ></canvas>
    </div>
</div>
<div class="columns-2 mt-12">
    <div class="fade-in flex flex-col px-4 items-center">
        <canvas 
            class="doughnut-chart w-full items-center"
            data-labels='["New Customers", "Existing Customers"]'
            data-new-customer-values='<%= @report_month_new_customers.to_json.html_safe %>'
            data-existing-customer-values='<%= @report_month_existing_customers.to_json.html_safe %>'
            height="450"
        ></canvas>
    </div>
</div>